@media (min-width: 370px) {
  body {
    margin: 20px;
  }

  .register {
    flex-direction: column;
    gap: 40px;
  }

  .register-info {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    gap: 10px;
    line-height: 1.2;
  }

  .register-info > h1 {
    font-size: 2em;
  }

  .trail-banner {
    flex-direction: column;
    height: 6rem;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
  }

  .signup {
    width: 300px;
  }

  .signup-form {
    width: 100%;
  }

  input {
    font-size: 0.8em;
  }

  .terms {
    flex-direction: column;
  }
}

@media (min-width: 430px) {
  .register-info > p {
    padding: 0 20px;
  }

  .signup {
    width: 100%;
  }

  .trail-banner {
    height: 5rem;
  }
}

@media (min-width: 768px) {
  .register {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .register-info {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
  }

  .register-info > h1 {
    line-height: 1.2;
  }

  .register-info > p {
    padding: 0;
  }

  .trail-banner {
    height: 5rem;
    gap: 5px;
    padding: 10px;
  }

  .signup {
    width: 45vw;
    height: auto;
  }

  .signup-form {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1440px) {
  .register-info {
    width: 35%;
  }

  .register-info > h1 {
    font-size: 2.5em;
  }

  .signup {
    width: 32vw;
  }

  .trail-banner {
    flex-direction: row;
    height: 3.6rem;
    gap: 5px;
  }

  .terms {
    flex-direction: row;
  }
}
