@media (min-width: 370px) {
  body {
    margin: 20px;
  }

  .register {
    flex-direction: column;
    gap: 20px;
  }

  .register-info {
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
  }

  .register-info > h1 {
    font-size: 2em;
  }

  .trail-banner {
    flex-direction: column;
    height: 6rem;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
  }

  .signup {
    width: 300px;
  }

  .signup-form {
    width: 100%;
  }

  input {
    font-size: 0.8em;
  }

  .terms {
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .register {
    flex-direction: row;
    gap: 100px;
  }
  .register-info {
    gap: 10px;
    width: 35%;
    text-align: start;
  }

  .register-info > h1 {
    font-size: 2.5em;
    line-height: 1.1;
  }

  .trail-banner {
    flex-direction: row;
    height: 3.6rem;
    gap: 5px;
  }

  .signup {
    width: 32vw;
  }

  .signup-form {
    width: 100%;
  }

  .terms {
    flex-direction: row;
  }
}
