input::placeholder {
  color: (var(--neutral-gray));

  font-weight: 700;
}

/* error message */
.error-message {
  color: red;
  font-size: var(--primary-fontsize);
  white-space: pre-line;
  font-size: 0.8em;
  text-align: right;
}

input[aria-invalid="true"] {
  display: flex;
  border: 2px solid red;
  background-image: url(../assents/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 200px;
}

.register-info {
  width: 32%;
}

.register-info > h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}

.register-info > p {
  color: white;
  font-weight: 400;
}
/* rightside signup */

.trail-banner {
  height: 50px;
  border-radius: 5px;
  background: var(--accent-purple);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.trail-banner > p {
  color: white;
}

.signup-form {
  width: 28rem;
  background: white;
  padding: 1.5rem;
  border-radius: 5px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  height: 1.87rem;
  border-radius: 5px;
  padding: 10px;
  font-size: var(--primary-fontsize);
}

/* submit */
.submit-btn {
  height: 50px;
  border-radius: 5px;
  background: var(--primary-green);
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
