input::placeholder {
  color: (var(--neutral-gray));

  font-weight: 700;
}

/* error message */
.error-message {
  color: red;
  font-size: var(--primary-fontsize);
  white-space: pre-line;
  font-size: 0.8em;
  text-align: right;
}

input[aria-invalid="true"] {
  border: 2px solid red;
  background-image: url(../assets/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}

.register {
  min-height: 100vh;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.register-info {
  width: 32%;
}

.register-info > h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}

.register-info > p {
  color: white;
  font-weight: 400;
}
/* rightside signup */

.trail-banner {
  display: flex;
  height: 3.1rem;
  border-radius: 10px;
  background: var(--accent-purple);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.trail-banner > p:first-child {
  font-weight: 700;
}

.signup {
  width: 100%;
}

.trail-banner > p {
  color: white;
}

.signup-form {
  width: 28rem;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  height: 1.87rem;
  border-radius: 5px;
  padding: 10px;
  font-size: var(--primary-fontsize);
}

/* submit */
.submit-btn {
  height: 50px;
  border-radius: 5px;
  background: var(--primary-green);
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;

  box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.35),
    /* lichte rand boven */ inset 0 -3px 0 rgba(0, 0, 0, 0.1); /* schaduw onder binnenin */
  transition: box-shadow 0.15s ease, transform 0.08s ease, filter 0.15s ease;
}

.submit-btn:hover {
  filter: brightness(1.1); /* fade in 150ms */
}

.terms {
  color: var(--neutral-gray);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.6em;
  font-weight: 500;
  gap: 4px;
}

.terms-copy {
  opacity: 0.6;
}
.terms-link {
  color: var(--primary-red);
  font-weight: 700;
}
/* shadow */
.trail-banner,
.signup-form {
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2), 0 6px 5px rgba(0, 0, 0, 0.4);
}
